/*NAVBAR STIL*/
.logo {
    width: 400px;
    height: 60px;
}

.navigacija{
    background-color: #202020;
}

.nav-link{
    color: #ffffff;
    font-size: 14pt;
    margin-left: 15px;
    margin-right: 20px;
}

.navbar-nav .nav-link.active{ /*Mora specificno zbog prioriteta browsera, koja glupost*/
    color: #c6bf9f;
}

.nav-link:hover, .nav-link:focus{
    color: #c6bf9f;
}

.fa-solid{
    font-size: 17pt;
}

.navbar-nav .nav-item .nav-link .zadnji{
    margin-right: 0px;
}

/*FOOTER STIL*/

footer, .footer-containers, .footer-container{
    background-color: #202020;
    text-align: center;
    color: white;
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-left{
    text-align: center;
    margin-bottom: 30px;
}

.footer-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 30px;
}

.footer-column{
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-link{
    text-decoration: none;
    color: #dddddd;    
}

.footer-link:hover {
    color: #c6bf9f;
}

.footer-column .footer-link.active{
    color: #c6bf9f;
}

.copyright, .copyright .fa-solid{
    font-size: 11pt;
}

/*STIL SAMIH STRANICA*/

.banner{
    background-image: url("../img/banner.jpg");
    background-position: center 35%;
    width: 100%;
    height: 600px;
}

.klasa{
    height: 600px;
    border: 1px solid black;
}

/*.klasa .slika{
    width: 100%;
}*/

.btnIgre{
    /*background-color: #c6bf9f;*/
    border-color: #c6bf9f;
    border: 2px solid #c6bf9f;
    color: #c6bf9f;
}

.btnIgre:hover{
    background-color: #c6bf9f;
    border: 2px solid #c6bf9f;
}

.igra{
    /*height: 400px;*/
    margin-left: 10px;
    margin-right: 10px;
}

.igra:hover{
    cursor: pointer;
    background-color: #b4b4b4;
    color: #c6bf9f;
}

.igra .boxart{
    width: 100%;
    height: 100%;
    object-fit: contain;
}